/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */
/* <!DOCTYPE CSS> */
.thought1   {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
}
.thought2   {
    font-family: 'Righteous', cursive;
}
.thought3   {
    font-family: 'Poiret One', cursive;
}